<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WHATO - Sit Back & Automate</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/global.css') }}">

  </head>
  <body>
    {% block content %}{% endblock %}
    <div class="footer">
      <p>Copyright ©2021 · <b>WHATO - Sit Back & Automate</b> · All Rights Reserved</p>
    </div>
</body>
</html>
